html {
    font-size: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    line-height:  20px;
    color: #ffffff;
    background-color: #4C5364;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
}

.name {
    z-index: 88888;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    line-height: 50px;
    z-index: 1000;
}

.inner-name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
}

#container {
    padding-top: 120px;
    padding-bottom: 50px;
    min-width: 800px;
    background-color: #E5E7E9;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#headshot {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot img {
    width: 60%;
    height: 60%;
}

#introduction {
    flex: 1 1 0;
    padding-right: 20px;
}

.text-header {
    text-align: center;
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    color: #383737;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px 0 20px 0
}

.description {
    text-align: center;
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #383737;
    font-size: 20px;
    padding: 20px 0 20px 0
}

#about {
    background-color: #A3E4D7;
    height: 950px;
    margin-top: -30px;
}

#about p {
    text-align: center;
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    color: #fafafa;
    font-size: 20px;
    text-transform: uppercase;
  }

#about a {
    color: #3498DB;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

#code {
    border-radius: 5px;
    width: 750px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 30px;
    background: #ccc;
    font-family: 'Monaco', Courier New;
    text-align: left;
    font-size: 14px;
    color: #fafafa;
}

#console {
    width: 670px;
    padding: 40px;
    margin: 0 auto;
    background: #383737;
}

span.consoleOutput {
    color: #ccc;
}